/data/calendar.csv
/data/encoded_neighborhoods.pkl
/data/hexagon_ids.pkl
/data/listings.csv
/data/listings.csv.gz
/data/neighbourhoods.csv
/data/neighbourhoods.geojson
/data/problematic_accommodatios.pkl
/data/reviews.csv
/data/reviews.csv.gz
